.lettering {
  font-size: 26px;  
  font-weight: bold;
  color: white;
  padding-left: 40px;
  line-height: 2;
  min-height: 300px;
}

.lettering span {
  display: block;
}

@media (max-width: 959px) {
  .lettering {
    display: none;
  }
}