.lettering {
  font-weight: bold;
  color: white;
  padding-left: 40px;
  line-height: 2;
  min-height: 300px;
  margin: 20px 0;
}

.lettering h2 {
  font-size: 26px;  
  display: block;
  margin: 0;
}

@media (max-width: 959px) {
  .lettering {
    display: none;
  }
}