.navOpen {
  width: 40px;
  height: 40px;
}



.navOpen span {
  background-color: white;
  border-radius: 1px;
  height: 2px;
  display: block;
  margin-bottom: 6px;
  transition: all 300ms;
}

.navOpen span:first-of-type {max-width: 60%;}
.navOpen span:nth-of-type(2) {max-width: 100%;}
.navOpen span:last-of-type {max-width: 80%;}


.navOpen.navActive span:first-of-type {
  max-width: 100%;
  transform: rotate(-45deg)
             translate(-10px,10px);
  
}
.navOpen.navActive span:nth-of-type(2) {
  opacity: 0;
}
.navOpen.navActive span:last-of-type {
  max-width: 100%;
  transform: rotate(45deg);
  
}

.navContent {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms;
}

.navContent a {
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: all 300ms;
  display: block;
}

.navContent a:hover {
  padding-left: 15px;
}

.navContent.navActive {
  max-height: 500px;

}

@media (max-width: 959px) {
  .nav {
    position: absolute;
    right: 10px;
    top: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  .navOpen {
    z-index: 10;
  }

  .navContent {
    width: 100%;
    background: rgba(0,0,0,.9);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 50px;
    margin-top: 0;
    padding: 0 40px;
    z-index: 9;
  }

  .navContent.navActive {
    padding: 110px 40px;
    max-height: 2000px;
  }
}